<!-- app/comment/template.hbs -->

<div class = "comments-body">
  <br><br><br>
<button {{action 'createComment'}}>+++++</button>
  {{#each model.comments as |comment|}}
    {{comment.username}}: {{comment.description}}: {{comment.rating}}<br>
  {{else}}
    <div class = "no-comments">
      <p> there are no comments to display </p>
    </div>
  {{/each}}

  <!-- {{likes}} -->

</div>
