<!-- app/application/template.hbs -->
<div class = "page-container">

<!-- todo: add liquid fire transistions to sidebar -->
  {{#liquid-if hideSidebar}}
    {{nav-bar-min comments=sortedComments expand="toggleSidebar"}}
  {{else}}
    {{nav-bar-expanded comments=sortedComments minimize="toggleSidebar"}}
  {{/liquid-if}}

  <div class={{if hideSidebar 'minimized' 'expanded'}}>
      {{liquid-outlet}}
  </div>
</div>
