<!-- app/application/template.hbs -->
<!-- <div class = "page-container"> -->

  {{#if hideSidebar}}
    {{nav-bar-min}}
  {{else}}
    {{nav-bar-expanded}}
  {{/if}}


  <div calss="main-content">
      {{outlet}}
  </div>
<!-- </div> -->

{{#if showComments}}
  {{#liquid-wormhole}}
    {{comments-box comments=model.comments}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole}}
    {{add-comment close="toggleAddComment"}}
  {{/liquid-wormhole}}
{{/if}}
