<!-- app/application/template.hbs -->
<div class = "page-container">
  <div class = "sidebar">
      <h1 class = "nav title">Pocket Meter</h1>
    <ul class = "nav">
      <li >{{#link-to "home" class="nav nav-link current"}}Home{{/link-to}}</li>
      <li>{{#link-to "problem" class="nav nav-link" action='makeCurrent'}}Problem{{/link-to}}</li>
      <li>{{#link-to "problem" class="nav nav-link"}}PlaceHolder{{/link-to}}</li>
      <li>{{#link-to "problem" class="nav nav-link"}}PlaceHolder{{/link-to}}</li>
      <li>{{#link-to "problem" class="nav nav-link"}}PlaceHolder{{/link-to}}</li>
      <li class = "nav"><button class="button showCommentButton"{{action 'toggleShowComments'}}>Comments</button>
      <button class="button addCommentButton"{{action 'toggleAddComment'}}>+</button></li>
    </ul>
  </div>
  <div calss="main-content">
      {{outlet}}
  </div>
</div>

{{#if showComments}}
  {{#liquid-wormhole}}
    {{comments-box comments=model.comments}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole}}
    {{add-comment close="toggleAddComment"}}
  {{/liquid-wormhole}}
{{/if}}
