<!-- app/application/template.hbs -->
<header>
  <div class = "page-container">
    <nav>
      {{#link-to "home"}}Home{{/link-to}}
      {{#link-to "problem"}}Problem{{/link-to}}
      <a>Placeholder</a>
      <a>Placeholder</a>
      <a>Placeholder</a>
      <button {{action 'toggleShowComments'}}>Comments</button>
      <button {{action 'toggleAddComment'}}>+</button>

    </nav>
  </div>
</header>
{{outlet}}


{{#if showComments}}
  {{#liquid-wormhole}}
    {{comments-box comments=model.comments}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole}}
    {{add-comment close="toggleAddComment"}}
  {{/liquid-wormhole}}
{{/if}}
