<!-- app/application/template.hbs -->
<div class = "page-container">

  {{#if hideSidebar}}
    {{nav-bar-min comments=sortedComments expand="toggleSidebar"}}
  {{else}}
    {{nav-bar-expanded comments=sortedComments minimize="toggleSidebar"}}
  {{/if}}

  <div class={{if hideSidebar 'minimized' 'expanded'}}>
      {{outlet}}
  </div>
</div>
