<!-- app/application/template.hbs -->
<div class = "page-container">

<!-- todo: add specs route with table of specs -->
<!-- todo: add contact us route -->

<!-- todo: add liquid fire transistions to sidebar -->
  {{#liquid-if hideSidebar}}
    {{nav-bar-min comments=sortedComments expand="toggleSidebar" postNewComment="postNewComment"}}
  {{else}}
    {{nav-bar-expanded comments=sortedComments minimize="toggleSidebar" postNewComment="postNewComment"}}
  {{/liquid-if}}

  <div class={{if hideSidebar 'minimized' 'expanded'}}>
      {{liquid-outlet}}
  </div>
</div>
