<!-- app/application/template.hbs -->
<div class = "page-container">

  {{#if hideSidebar}}
    {{nav-bar-min comments=model.comments expand="toggleSidebar"}}
  {{else}}
    {{nav-bar-expanded comments=model.comments minimize="toggleSidebar"}}
  {{/if}}

  <div class={{if hideSidebar 'minimized' 'expanded'}}>
      {{outlet }}
  </div>
</div>

{{#if showComments}}
  {{#liquid-wormhole}}
    {{comments-box comments=model.comments}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole}}
    {{add-comment close="toggleAddComment"}}
  {{/liquid-wormhole}}
{{/if}}
