<div class = "all">
<div class = "main">
  <div class="add-comment-top">
    <h6>Create Comment</h6>
</div>
<div class="add-comment-main">
  <form id ="ratingForm" name="ratingForm">

  <!-- common partial for ratings html code -->
  {{radio-button-rating}}
    <p id="errorText"></p>
    {{input class="usernameBox" value=usernameText placeholder="Name"}}
    {{textarea id="commentArea" value=commentText placeholder="Type comment here!"}}
  </form>
</div>
  <button class="button okay-button"{{action 'post'}}>Okay</button>
  <button class="button close-button"{{action 'close'}}>Cancel</button>

<p class = "remaining-chars {{if noCharsLeft 'text-overflow'}}">{{remainingChars}}</p>

</div>
</div>
