<div class="sidebar sidebar-expanded">
  <div class="nav nav-expanded">
    <div class="logo"></div>
<h1 class = "nav nav-expanded title">Pocket Meter</h1>

<ul class = "nav nav-expanded">
  <li>
    {{#link-to "home" class="nav nav-expanded nav-link"}}
      <span class="glyphicon glyphicon-home"></span>
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to "problem" class="nav nav-expanded nav-link"}}
      <span class="glyphicon glyphicon-pencil"></span>
      Problem
    {{/link-to}}
  </li>
  <li>
    {{#link-to "theory" class="nav nav-expanded nav-link"}}
      <span class="glyphicon glyphicon-education"></span>
      Theory
    {{/link-to}}
  </li>
  <li>
    {{#link-to "build" class="nav nav-expanded nav-link"}}
    <span class="glyphicon glyphicon-oil"></span>
    Build
    {{/link-to}}
  </li>
  <li>
    {{#link-to "other" class="nav nav-expanded nav-link"}}
    <span class="glyphicon glyphicon-option-horizontal"></span>
    Other
    {{/link-to}}
  </li>
  <li class = "nav nav-expanded">
    <button class="button show-comment-expanded"{{action 'toggleShowComments'}}>
      <span class="glyphicon glyphicon-comment glyph-button"></span>
      Comments
    </button>
    <button class="button add-comment-expaned"{{action 'toggleAddComment'}}>
      <span class="glyphicon glyphicon-plus glyph-button"></span>
      Add Comment
    </button>
</li>
</ul>
</div>
<div class="slider">
<button class="slider-button" {{action 'minimize'}}>
<span class="glyphicon glyphicon-triangle-left glyph-button"></span>
</button>
</div>


</div>
{{#if showComments}}
  {{#liquid-wormhole to="flyout" index=1}}
    {{comments-box comments=comments addNewComment='toggleAddComment' close='toggleShowComments'}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole to="flyout" index=1}}
    {{add-comment close="toggleAddComment" post="postNewComment"}}
  {{/liquid-wormhole}}
{{/if}}
